<h2><%= link.shortened_url %> → <%= link.default_url %></h2>
<form method="POST" action="/<%= link.shortened_key %>/edit">
  <div class="form-group">
    <label for="inputLabel">Pick label for URL</label>
    <input type="text" class="form-control" id="inputLabel" name="label" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>