<form method="POST" action="/">
  <div class="form-group">
    <label for="inputURL">Enter your URL</label>
    <input type="url" class="form-control" id="inputURL" name="url" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Shorten</button>
</form>

<table class="table" style="margin-top:15px">
<% links.each do |link| %>
  <tr>
    <td><%= link.default_url %></td>
    <td><%= link.shortened_url %></td>
    <td><a href="/<%= link.shortened_key %>/edit">Edit</a></td>
  </tr>
<% end %>
</table>